
/* Library Page */
.btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn-box > #btn-sign{
    width: 30%!important;
    margin: 0;
}

.margin-bottom-15{
    margin-bottom: 15px;
}