.login_body {
  position: absolute;
  z-index: 5000;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(8, 37, 60);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  height: fit-content;
  min-height: 50%;
  width: 35% !important;
  background-color: aliceblue;
}

.MuiTabs-scroller {
  display: flex !important;
  justify-content: center;
}

/* \\Tabs\\\ */
.MuiTabs-scroller>div {
  width: 100%;
}

.tab {
  min-width: 50% !important;
}

/* tEXTfIELD  */

a,
span,
.MuiFormControl-root>label {
  font-size: .8rem !important;
}

.error {
  display: block;
  color: red;
  font-size: .6rem;
}

.input_info {
  font-size: .7rem !important;
  color: rgb(13, 82, 172);
  display: block;
}