.footer {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  padding: 20px 0;
  height: 3%;
  width: 100%;
  background-color: #282828;
  padding-top: 35px;
}

.footer__right * .MuiSlider-root {
  color: rgb(29 133 217);
}
.footer__left {
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
  flex: 0.3;
}

.footer__green {
  color: rgb(29 133 217)!important;
}

.footer__center {
  flex: 0.4;
  max-width: 300px;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__icon{
  font-size: 1.3rem!important;
}
.p{
  font-size: 1.6rem!important;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
}

.footer__albumLogo {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  object-fit: cover;
}

.footer__songInfo > h4 {
  font-size: 14px;
}

.footer__songInfo > p {
  font-size: 11px;
}
.musicTime{
  top: 0px;
  position: absolute!important;
  width: 96%!important;
}

.footer__timer{
  font-size: 15px;
}

.footer__timer > p{
  color: white;
  
}

.padding-0{
  padding: 0!important;
}